<div class="col-12 col-sm-12 pt-3 border border-primary rounded">
    {% for tarea in tareas %}
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    <input id="{{tarea.id}}" name="tareas[]" class="check" type="checkbox" aria-label="Checkbox for following text input">
                </div>
            </div>
            <input id="tarea{{tarea.id}}" type="text" class="form-control" value="{{ tarea.tarea }}" aria-label="Text input with checkbox">
        </div>
    {% endfor %}
</div>
