{% extends 'base.html.twig' %}
{% block body %}
<div class=" d-flex align-items-center p-3 my-3 bg-purple rounded shadow-sm">
    <div class="col-sm-6">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb my-2">
                <li class="breadcrumb-item active" aria-current="page">Home</li>
            </ol>
        </nav>
    </div>
</div>
<div class="my-3 p-3  bg-white rounded shadow-sm alert alert-primary">
    <div class="row">
        <div class="col-12">
            <h2>Bienvenido a la version 20.6.3 de la aplicación web TRABAJA</h2>
        </div>
        <div class="col-12">
            <p class="text-center">Esta es la versión de prueba</p>
        </div>
    </div>
</div>
{% endblock %}
